body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  padding: 8px 15px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}